data/kuka/required/kuka_stare_decon_Ku-Scat20220422-171530.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220416-150403.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220417-154511.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-153519.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220416-150102.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220419-150457.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-144021.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220416-163603.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-172020.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220417-151516.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220417-161019.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220419-140954.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-171030.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220411-101806.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220419-133951.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-171020.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-172030.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220417-155011.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-144519.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-164020.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220417-155018.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-154025.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-153024.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-152023.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220411-101306.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220416-162103.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220417-161512.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220419-140951.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220416-162304.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-144521.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-160526.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/readme.txt filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220416-150903.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220417-142511.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220417-143011.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220419-150452.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220416-162805.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220417-143014.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220411-112806.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220417-151011.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-161020.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220411-101307.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220411-112811.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220416-145903.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-160520.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-161527.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220416-163103.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-152019.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220411-101807.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220417-132510.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220419-145956.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220417-161012.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-144019.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220417-154518.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220417-161520.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220419-133952.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-161026.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220416-151103.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220417-142513.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220416-162603.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220417-133011.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220419-145952.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-154020.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-161520.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-171520.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-164028.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220417-132511.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220422-153019.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220422-153524.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ka-Scat20220417-151511.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220416-150602.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220416-163305.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220417-133010.nc filter=lfs diff=lfs merge=lfs -text
data/kuka/required/kuka_stare_decon_Ku-Scat20220417-151016.nc filter=lfs diff=lfs merge=lfs -text
